html{
	font-size: 18px;
}

header div{
	position: relative;
}

#header_img{
    width: 100vw;
}

#header_text_img{
	position: absolute;
	width: 45vw;
	left: 5.5%;
	top: 40%;
}

body{
	background-color: gainsboro;
	text-align: center;
	margin: auto;
}

main{
    margin: 0% 3%;
}

h2{	
	font-size: 1.8rem;
	border: double 10px black;
	margin: 0px auto;
}

h3{
	text-align: start;
	font-size: 1.2rem;
}

.flex-item-img img{
	border-radius: 5%;
    width: 120px;
    height: auto;
}

.flex-item-text{
	font-size: 1.0rem;
	text-align: start;
}

hr{
	border-top: 2px dashed black;
}

iframe{
    width: 400px;
}

footer{
	background-color: gray;
}

#facebook{
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 3%;
	width: 50px;
	height: 50px;
}

#footer_sns{
	background-color: #ccc;
	height: 60px;
	text-align: right;
}

#footer_text{
    font-size: 1.0rem;
    margin-bottom: 1%;
}

#copy_right{
    font-size: 0.7rem;
    margin: 0px;
}

.slider p{
	font-size: 4.5vw;
	font-weight: bold;
}

.album_text{
	color: #333;
	font-size: 4vw;
}

.slider {
	width: 80vw;
	margin:0 auto;
 }

 .slider img {
    width: 100%;
    height: auto;
}

.slider .slick-slide {
    margin:0px 10px;
}


.slick-prev, 
 .slick-next {
	 position: absolute;
	 top: 42%;
	 cursor: pointer;
	 outline: none;
	 border-top: 2px solid #666;
	 border-right: 2px solid #666;
	 height: 15px;
	 width: 15px;
 }
 
 
 .slick-prev {
    left: 0%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -7.0%;
    transform: rotate(45deg);
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}

.slick-dots .slick-active button{
    background:#333;
}