html{
	font-size: 18px;
}

body{
	background-color: gainsboro;
	text-align: center;
	width: 1200px;
	margin: auto;
}

main{
	width: 830px;
	margin-right: auto;
}

#sidebar{
	margin-left: auto;
}

#flexbox_main{
	display: flex;
}

#member-section{
	margin-left: auto;
	margin-right: auto;
	flex-grow: 0.8;
	width: 800px;
	height: auto;
}

h1{	
	font-size: 2.0rem;
	border: double 10px black;
	margin: 20px auto;
}

h2 {
	text-align: start;
	font-size: 1.3rem;
}

#album-section{
	margin: auto;
}

#flexbox_part{
	display: flex;	
}

.flex-container{
	display: flex;
	flex-direction: row;
}

.flex-item-img img{
	border-radius: 5%;
}

.flex-item-text{
	font-size: 1.0rem;
	font-weight: 520;
	width: 1350px;
	margin: 0% 0% 0% 5%;
	text-align: start;
}

#footer-text{
	font-size: 20px;
	margin-bottom: 30px;
}

hr{
	border-top: 2px dashed black;
}

footer{
	background-color: gray;
}

footer p{
	margin: unset;
}

li{
	margin-bottom: 5px;
	color: white;
}

#facebook{
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 3%;
	width: 50px;
	height: 50px;
}

#footer_sns{
	background-color: #ccc;
	height: 60px;
	text-align: right;
}

.slider p{
	font-size: 1.3rem;
	font-weight: bold;
}

.album_text{
	color: #333;
	font-size: 1.0rem;
}

.slider {
	width: 700px;
	margin:0 auto;
 }
 
 .slider img {
	 width: 100%;
	 height: auto;
 }
 
 .slider .slick-slide {
	 margin:0 10px;
 }

 .slick-prev, 
 .slick-next {
	 position: absolute;
	 top: 42%;
	 cursor: pointer;
	 outline: none;
	 border-top: 2px solid #666;
	 border-right: 2px solid #666;
	 height: 15px;
	 width: 15px;
 }
 
 .slick-prev {
	 left: -1.0%;
	 transform: rotate(-135deg);
 }
 
 .slick-next {
	 right: -4.0%;
	 transform: rotate(45deg);
 }
 
 .slick-dots {
	 text-align:center;
	 margin:20px 0 0 0;
 }
 
 .slick-dots li {
	 display:inline-block;
	 margin:0 5px;
 }
 
 .slick-dots button {
	 color: transparent;
	 outline: none;
	 width:8px;
	 height:8px;
	 display:block;
	 border-radius:50%;
	 background:#ccc;
 }
 
 .slick-dots .slick-active button{
	 background:#333;
 }